*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: white;
}



.weatherDescription{
    padding: 70px 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.507);
    text-align:center;
    visibility: hidden;
    border-radius: 10px;
}